@import "tailwindcss";
@plugin "daisyui" {
    themes: dim --default;
}

@plugin "daisyui/theme" {
  name: "dim";
  default: true;
  --color-primary: #2171b5;
  --color-primary-content: #b2ccd6;
  --color-success: #254968ff;
  --color-success-content: #b2ccd6;
}